<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body style=" margin-top: 100px; text-align: center;">

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">

<div class="mdl-card__supporting-text">
<h1><%=message%></h1>

    <img src="/images/success.png" width="50px" height="50px">
    </br>
    </br>
    <p>Vratite se na poÄetnu stranicu</p>

    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/">
        MOP Questionnaire
    </a>
</div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
</body>

</html>